<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Poker Tracker</title>    
	<link rel="stylesheet" href="poker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">

<div class="container">  
	<div  class="toggle-btn-grp cssonly">		
	    <div>
		<input type="checkbox" ng-model="main.showMove" class="hidden" name="mcb">
		<label onclick="" class="toggle-btn">Move</label>
		</div>
	</div>
		
	<table class="table table-striped">		
	  <tbody>
		<tr>
		   <th ng-show="main.showMove == true">Move To</th>
		   <th>Seat</th>
		   <th></th>
		   <th>R</th>
		   <th>P</th>       
		   <th>3</th>       
		   <th>4</th>       
		   <th>G</th>       		   
		</tr>
		<tr class="playerSeat" ng-repeat="player in main.players">
			<td ng-show="main.showMove == true && player.playing == true">
				<select ng-model="blah" ng-options="item as item for item in main.seats" ng-change="main.moveSeat($index, blah); blah = '';"></select>	
			</td>
									
			<td>			
				<button class="btn-primary-spacing"  ng-show="player.playing == true" ng-click="main.removePlayer($index)">-</button>	
				<button class="btn-primary-spacing"  ng-show="player.playing == false" ng-click="main.addPlayer($index)">+</button>	
				<span>{{$index+1}}</span>
			</td>
			
			<td ng-show="player.playing == true && main.showButtons == true">			  
			  <div  class="toggle-btn-grp cssonly">
				<div ng-repeat="option in main.handOptions">
				  <input type="radio" ng-model="player.handOption" ng-value="option.value"/>
				  <label onclick="" class="toggle-btn">{{option.name}}</label>
				</div>			  
			  </div>			  
			</td>			
			
			<td class="playerStat" ng-show="player.playing == true">{{player.raisePerc.toFixed()}}%</td>
			<td class="playerStat" ng-show="player.playing == true">{{player.playPerc.toFixed()}}%</td>
			<td class="playerStat" ng-show="player.playing == true">{{player.bet3Perc.toFixed()}}%</td>
			<td class="playerStat" ng-show="player.playing == true">{{player.bet4Perc.toFixed()}}%</td>
			<td class="playerStat" ng-show="player.playing == true">{{player.games}}</td>
		 </tr>
	 </tbody>
	 </table>
	 <br />
	 <br />
	 <br />
	
	 <button class="bigBtn" ng-click="main.nextHand()">Count</button>	
</div>

</body>
</html>



