<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>POKER!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">

<div class="container">
    <h1>{{main.title}}</h1>
	<div >
		<div>
			Show buttons <input type="checkbox" ng-model="main.showButtons"/>        
		</div>
		<div>
			Show move <input type="checkbox" ng-model="main.showMove"/>        
		</div>
    </div>
	<table class="table table-striped">		
	  <tbody>
		<tr>
		   <th ng-show="main.showMove == true">Move To</th>
		   <th>Seat</th>
		   <th ng-show="main.showButtons == true">Buttons</th>
		   <th>Raised</th>
		   <th>Played</th>       
		   <th>3 Bet</th>       
		   <th>4 Bet</th>       
		   <th>Games</th>       		   
		</tr>
		<tr ng-repeat="player in main.players">
			<td ng-show="main.showMove == true && player.playing == true">
				<select ng-model="blah" ng-options="item as item for item in main.seats" ng-change="main.moveSeat($index, blah); blah = '';"></select>	
			</td>
									
			<td>			
				<button class="btn-primary-spacing"  ng-show="player.playing == true" ng-click="main.removePlayer($index)">-</button>	
				<span>{{$index+1}}</span>
				<button class="btn-primary-spacing"  ng-show="player.playing == false" ng-click="main.addPlayer($index)">+</button>	
			</td>
			
			<td ng-show="player.playing == true && main.showButtons == true">			  
			  <label  class="radio-inline" ng-repeat="option in main.handOptions">				
				<input type="radio" ng-model="player.handOption" ng-value="option.value">{{option.name}}</input>
			  </label>					  			  
			</td>			
			
			<td ng-show="player.playing == true">{{player.raisePerc.toFixed()}}%</td>
			<td ng-show="player.playing == true">{{player.playPerc.toFixed()}}%</td>
			<td ng-show="player.playing == true">{{player.bet3Perc.toFixed()}}%</td>
			<td ng-show="player.playing == true">{{player.bet4Perc.toFixed()}}%</td>
			<td ng-show="player.playing == true">{{player.games}}</td>
		 </tr>
	 </tbody>
	 </table>
	 <button class="btn-primary-spacing" ng-click="main.nextHand()">Count</button>	
</div>

</body>
</html>



