body {
	font-size: 20px;
}
.detailSpan {
	width: 55px; 
	float: left;
	text-align: center; 	
}
.rb { 
}
.btnHolder {
	width : 70px;
}
.bigBtn {
	width: 90px;
	height: 40px;
}
.playerStat {
	padding: 10px 10px 0 10px; 
	max-width : 70px;
}
.playerSeat {
}